html{
  width: 1200px;
  height:800px;
}
body {
  margin: 0;
  padding: 0;
}
.header-bottom {
  background-color: #D9D9D9;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'Inter', fantasy;
  font-size: 25px;
}
.search-bar {
  width: 500px;
  margin-right: 20px;
  position: relative;
}
.search-bar input[type="text"] {
  width: calc(100% - 40px); /* Adjusted width for icon */
  padding: 10px;
  border: 2px solid #000; /* Dark black border */
  border-radius: 25px;
}
.search-bar button {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 100%;
  background: transparent;
  border: none;
  cursor: pointer;
}
.search-bar button img {
  width: 100%;
  height: auto;
}
.buttons {
  display: flex;
  align-items: center;
}
.buttons button {
  padding: 10px 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.buttons button:not(:last-child) {
  margin-right: 5px;
}
.maginfing-glass{
  position: absolute;
  left: 440px;
  top: 150px;
}

.home-button{
  color: red;
}
.header-top{
  display: flex;
  justify-content: space-between;
}

.store-name{
  font-family: Georgia, serif;
font-size: 40px;
}
.header-top-left, .header-bottom-right{
  display: flex;
}
.header-button{
  font-size: 20px;

.middle, .footer {
  border: 1px solid black;
  text-align: center;
  line-height: calc(60vh * 0.6); /* Center content vertically */
}

.header-top {
  display: flex;
  align-items: center;
}

.header-top img {
  margin-right: 10px; /* Adjust spacing between elements */
}

.store-name,
.caption,
.login,
.cart,
.wishlist {
  margin-right: 10px; /* Adjust spacing between elements */
  font-family: 'Inter', sans-serif;
}

.store-name {
  font-weight: 800; /* Extra bold */
  font-size: 30px;
  font-family: 'Inquit Antiqua', sans-serif; /* Custom font for store name */
}

.caption {
  font-weight: bold;
  font-size: 14px;
}

.login,
.cart,
.wishlist {
  font-weight: 600; /* Semi-bold */
  font-size: 20px;
}

