html{
  width: 1200px;
  height:800px;
}
body {
  margin: 0;
  padding: 0;
}
.header-bottom {
  background-color: #D9D9D9;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'Inter', fantasy;
  font-size: 25px;
}
.search-bar {
  width: 500px;
  margin-right: 20px;
  position: relative;
}
.search-bar input[type="text"] {
  width: calc(100% - 40px); /* Adjusted width for icon */
  padding: 10px;
  border: 2px solid #000; /* Dark black border */
  border-radius: 25px;
}
.search-bar button {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 100%;
  background: transparent;
  border: none;
  cursor: pointer;
}
.search-bar button img {
  width: 100%;
  height: auto;
}
.buttons {
  display: flex;
  align-items: center;
}
.buttons button {
  padding: 10px 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.buttons button:not(:last-child) {
  margin-right: 5px;
}
.maginfing-glass{
  position: absolute;
  left: 440px;
  top: 150px;
}

.home-button{
  color: red;
}
.header-top{
  display: flex;
  justify-content: space-between;
}

.store-name{
  font-family: Georgia, serif;
font-size: 40px;
}
.header-top-left, .header-bottom-right{
  display: flex;
  margin-top: 10px;
}
.header-button{
  margin-top: 20px;
}

.middle, .footer {
  border: 1px solid black;
  text-align: center;
}

.header-top {
  display: flex;
  align-items: center;
}

.header-top img {
  margin-right: 10px; /* Adjust spacing between elements */
}


.store-name {
  font-weight: 800; /* Extra bold */
  font-size: 30px;
  font-family: 'Inquit Antiqua', sans-serif; /* Custom font for store name */
}

.caption {
  font-weight: bold;
  font-size: 14px;
}

.header-button{
  font-weight: 600; /* Semi-bold */
  font-size: 20px;
  font-family: Inter;
  font-weight: normal;
  text-transform: capitalize;
  padding-left: 20px;
  padding-top: 20px;
  text-decoration: none;
  color: darkblue;
  font-size: 20px;

}

/* Style the dropdown button */
.dropbtn {
  color: black;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980b9;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #2980b9;
}
